<div class="d-flex justify-content-evenly flex-wrap row-gap-2">
	<div class="d-flex drac-box drac-card drac-bg-pink-purple drac-p-sm align-items-center">
		<div class="drac-card-icon align-items-center">
			<i class="bi bi-arrow-up"></i>
		</div>
		<div class="d-flex justify-content-center drac-card-content align-items-center">
			<div class="d-flex flex-column justify-content-center align-items-center row-gap-3">
				<p class="drac-text drac-line-height fs-3">Entradas</p>
				<p class="drac-text drac-line-height fs-5">R$ 0,00</p>
			</div>
		</div>
	</div>
	<div class=" d-flex drac-box drac-card drac-bg-pink-purple drac-p-sm align-items-center">
		<div class="drac-card-icon align-items-center">
			<i class="bi bi-currency-dollar "></i>
		</div>
		<div class="d-flex justify-content-center drac-card-content align-items-center">
			<div class="d-flex flex-column justify-content-center align-items-center row-gap-3">
				<p class="drac-text drac-line-height fs-3">Saldo</p>
				<p class="drac-text drac-line-height fs-5">R$ 0,00</p>
			</div>
		</div>
	</div>
	<div class="d-flex drac-box drac-card drac-bg-pink-purple drac-p-sm align-items-center">
		<div class="drac-card-icon align-items-center">
			<i class="bi bi-arrow-down"></i>
		</div>
		<div class="d-flex justify-content-center drac-card-content align-items-center">
			<div class="d-flex flex-column justify-content-center align-items-center row-gap-3">
				<p class="drac-text drac-line-height fs-3">Saídas</p>
				<p class="drac-text drac-line-height fs-5">R$ 0,00</p>
			</div>
		</div>
	</div>
</div>