<div class="d-flex justify-content-evenly">
	<div class="drac-box drac-card drac-bg-pink-purple drac-p-sm d-flex  text-center align-items-center">
		<i class="bi bi-arrow-up" style="font-size: 40px;"></i>
		<span class="drac-text drac-line-height drac-text-black fs-3">Entradas</span>
	</div>
	<div class="drac-box drac-card drac-bg-pink-purple drac-p-sm d-flex text-center align-items-center">
		<i class="bi bi-currency-dollar" style="font-size: 40px;"></i>
		<span class="drac-text drac-line-height drac-text-black fs-3">Saldo</span>
	</div>
	<div class="drac-box drac-card drac-bg-pink-purple drac-p-sm d-flex text-center align-items-center">
		<i class="bi bi-arrow-down" style="font-size: 40px;"></i>
		<span class="drac-text drac-line-height drac-text-black fs-3">Saídas</span>
	</div>
</div>